.example
  .row-fluid
    %h3.lead
      %span.tag #RailsTemplate
      Twitter Bootstrap, Devise, OmniAuth, Capybara
    %p
      Include one or many
      %span.tag #hashtags
      in each
      %strong gist
      description.
