.example
  .row-fluid
    %h3.lead
      %span.text-success #RailsTemplate
      Twitter Bootstrap, Devise, OmniAuth, Capybara
    %p
      Include one or many
      %span.label.label-success #hashtags
      in each
      %strong gist
      description.
