.example
  .row-fluid
    %h3.lead
      = succeed ':' do
        %span.text-success Rails Template
      Twitter Bootstrap, Devise, OmniAuth, Capybara
    %p
      Include a
      %span.label.label-success tag
      in each
      %strong gist
      description. A
      %span.label.label-success tag
      begins with the description and ends at a colon.
    %p.muted
      The 
      = link_to 'GitHub API', 'http://developer.github.com/v3/gists/#list-gists'
      only lists public
      = succeed ';' do
        %strong gists
      private gists can not be
      %span.label.label-success tagged
