= render "help/example"
%hr
#gists
  .row-fluid
    .span1
      %i.icon-ok-sign
    .span11
      Public gist
  .row-fluid
    .span1
      %i.icon-lock
    .span11
      Private gist
  .row-fluid
    .span1
      %i.icon-star
    .span11
      Starred gist
