= render "help/example"
%hr
%dl#gists.dl-horizontal
  %dt
    %i.icon-github
  %dd
    Link to
    %strong gist
    on
    = link_to "GitHub", github.home_page
  %dt
    %i.icon-ok-sign
  %dd
    Public
    %strong gist
  %dt
    %i.icon-lock
  %dd
    Secret
    %strong gist
  %dt
    %i.icon-star
  %dd
    Starred
    %strong gist
