.jumbotron
  %h1 Organize Your Gists!
  %p.lead
    %strong Tag
    the title of your
    = succeed '.' do
      %strong gists
    Use
    %em My Gists
    for viewing
    %strong gists
    by
    = succeed '.' do
      %strong tag
  = link_to 'Signin with GitHub', user_omniauth_authorize_path(:github), class: 'btn btn-large btn-primary'
%hr
= render 'help/example'
