// Layout styles borrowed from Bootstrap narrow marketing example.
// <div.jumbotron> only exists on home page.
//
// No styleguide reference.
.jumbotron {
  margin: 60px 0;
  text-align: center;
  h1 {
    font-size: 72px;
    line-height: 1;
  }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
