// Tags unordered list styles to render the tags list items next to each other.
//
// No styleguide reference.
#tags {
  ul.inline {
    margin: 0;
    > li {
      display: inline-block;
      padding: 10px 5px 0 0;
    }
  }
}
