%ul.inline
  %li
    = link_to 'Rails Templates', '#', class: 'btn btn-success'
  %li
    = link_to 'Terminal Output', '#', class: 'btn btn-success'
  %li
    = link_to 'Diff', '#', class: 'btn btn-success'
