%ul.unstyled
  %li
    = link_to 'Gist Title 1', '#'
  %li
    = link_to 'Gist Title 2', '#'
  %li
    = link_to 'Gist Title 3', '#'
.pagination.pagination-mini
  %ul
    %li.disabled
      %a{:href => "#"} Prev
    %li.active
      %a{:href => "#"} 1
    %li
      %a{:href => "#"} 2
