// An AJAX spinner indicator image. <div#gists-fetching-spinner> should have a
// <img>.
//
// No styleguide reference.
#gists-fetching-spinner {
  display: inline-block;
  > img {
    width: 18px;
    height: 16px;
    padding-right: 10px;
  }
}
