// Unordered list styles for anywhere gists are listed. Provide a bit of
// spacing between gists and their icons.
//
// No styleguide reference.
#gists {
  i {
    margin-right: 2px;
  }
  li {
    margin-bottom: 10px;
    p {
      margin: 0;
    }
  }
}

