// Definition list styles for anywhere gists are listed. Provide a bit of
// spacing between gist icons.
//
// No styleguide reference.
#gists {
  dt {
    i {
      margin-left: 3px;
    }
    i.icon-lock {
      margin-left: 2px;
    }
  }
  .icon-github {
    background-image: image-url("blacktocat.png");
    background-position: 0;
    width: 16px;
    height: 16px;
  }
}

