/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  > hr {
    margin: 20px 0;
  }
}

.example {
  text-align: center;
  .muted {
    margin-top: 20px;
  }
}

.lead, .example {
  a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}

.profile-header {
  h3 {
    margin-top: 0;
  }
}

.gists {
  .row-fluid {
    .span1 {
      text-align: right;
      i {
        margin-right: 3px;
      }
    }
    .span11 {
      margin-left: 3px;
    }
  }
}

.footer {
  .pull-right {
    text-align: right;
  }
}
