#gists-fetching-finished {
  display: none;
}

#gists-fetching-spinner {
  display: inline-block;
  > img {
    width: 18px;
    height: 16px;
    padding-right: 10px;
  }
}

ul.inline {
  margin: 0;
  > li {
    display: inline-block;
    padding: 10px 5px 0 0;
  }
}
