- if alert.present?
  .alert.alert-error
    %button.close{ "data-dismiss" => "alert", :type => "button" } &times;
    = alert
- if notice.present?
  .alert.alert-success
    %button.close{ "data-dismiss" => "alert", :type => "button" } &times;
    = notice
- if render_fetching_info?
  #gists-fetching-alert.alert.alert-info
    One moment please, your gists are being fetched from GitHub.
